body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgb(234, 224, 224);
}

p {
    margin: 0 0 5px;
}

.name {
    font-size: 45px;
    text-align: inherit;
    border-bottom: 1px solid #0f0f0f36;
    padding: 12px 0px;
}

.pics {
    width: 350px;
    height: 330px;
    padding: 0 0 0 107px;
    transition: 0.3s;
}

.faq {
    max-width: 600px;
    margin: 20px auto;
}

.faq-item {
    border-bottom: 1px solid #0f0f0f36;
}

.faq-title {
    display: block;
    cursor: pointer;
    padding: 5px 0px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.faq-title:hover {
    background-color:#ede7e800;
    transition: 0.6s ease-out;
}

.faq-input {
    appearance: none;
    display: none;
}

.faq-input:checked + .faq-text {
    display: block;
}

.faq-title:hover ~ .faq-text {
    display: block;

}

.faq-text {
    display: none;
    padding: 10px 15px;
}

.faq-text:hover {
    display: block;
}
