body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.30vw;
    background-color: rgb(234, 224, 224);
}

p {
    margin: 0 0 0.26vw;
}

.name {
    font-size: 2.34vw;
    text-align: inherit;
    border-bottom: 0.05vw solid #0f0f0f36;
    padding: 0.63vw 0vw;
}

.container {
    max-width: 31.25vw;
    margin: 1.04vw auto;
}

.faq-item {
    border-bottom: 0.10vw solid #0f0f0f36;
    transition: 2s all;
    padding: 0.68vw 0;
}

.faq-title {
    display: block;
    cursor: pointer;
    padding: 0.83vw 0vw;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.faq-title:hover {
    background-color:#ede7e800;
    transition: 0.6s ease-out;
}

.faq-input {
    appearance: none;
    display: none;
}

.faq-input:checked + .faq-text {
    height: 24.5vh;
}

.faq-item:hover .faq-text {
    height: 13.54vw;
    transition: 1.2s all;

}

.faq-text:hover {
    display: block;
}

.faq-text {
    height: 0;
    padding: 0vw 0.78vw;
    overflow: hidden;
}

.pics {
    padding: 0 0 0 5.57vw;
}

.faq-text img {
    width: 18.23vw;
    height: 13.54vw;
}

.faq-title:hover ~ .faq-item {
    transition: 1.2s all;
}

span {
    transition: 0.6s;
}

.faq-title:hover span, .faq-item:has(input:checked) span {
    transform: rotate(45deg);
}

a:active .pics {

    opacity: 0.8;
}

@media (max-width: 1920px) {

    .faq-input:checked + .faq-text {
        height: 27.7vh;
        padding: 1.04vw 0vw 0vw 0vw;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 1.11vw ;
    }
}

@media (max-width: 500px){
    body {
        font-size: 0.8vw ;
    }
}

@media (hover: hover) {
    .faq-title:hover {
        background-color:#ede7e800;
        transition: 0.6s ease-out;
    }

    .faq-item:hover .faq-text {
        height: 13.54vw;
        transition: 1.2s all;
    }

    .faq-text:hover {
        display: block;
    }

    .faq-title:hover span, .faq-item:has(input:checked) span {
        transform: rotate(45deg);
    }

    .faq-title:hover span, .faq-item:has(input:checked) span {
        transform: rotate(45deg);
    }
}




















